/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */

   footer {
   	background: #333;
   	color: #eee;
   	font-size: 11px;
   	padding: 20px;
   }

/* --------------------------------------
   Typography
   -------------------------------------- */

body{
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}
.well .page-header {
  margin-top:0;
}
.well .page-header h1{
  margin-top:0;
}
#textalign p{
  text-align: justify;
}
#moreinfo p
{
  font-size:16px;
  text-align:justify;
}
ul.unstyled {
	list-style: none;

	padding: 0;
  font-size:14px;
}
ul.unstyled a
{
  text-decoration: none;
}

/* --------------------------------------
   Navbar
   -------------------------------------- */

   #searchbook
   {
     width:200px;
   }
   .navbar-brand
   {
     padding:13px 15px;
   }
   .navbar-nav
   {
     padding-right:15px;
   }
   #menusize
   {
     font-size:15px;
     font-weight:bolder;
   }

/* --------------------------------------
   Carousel
   -------------------------------------- */
#mycarousel
{
  margin-top:60px;
}
  #mycarousel .item
  {
    height: 400px;
  }
.carousel-caption{
  padding-bottom:150px;
  color:white;
}
.carousel-caption h4
{
  font-size:32px;
}
#slide1
{
  background:url('../../images/herobanner_medium0.jpg') top center no-repeat;
}
#slide2
{
  background:url('../../images/herobanner_medium1.jpg') top center no-repeat;
}
#slide3
{
  background:url('../../images/herobanner_medium2.jpg') top center no-repeat;
}
#slide4
{
  background:url('../../images/herobanner_medium3.jpg') top center no-repeat;
}
#slide5
{
  background:url('../../images/herobanner_medium4.jpg') top center no-repeat;
}
/* --------------------------------------
   Global Styles
   -------------------------------------- */
.well{
  margin:20px 0;
}
.box-title{
  border-bottom:3px solid  #bf8040;
}
.belowspace h3
{
  margin-bottom:45px;
  font-weight:bolder;
}
.box-product .price {
	font-size:11px;
	position: absolute;
	top: -10px;
	right: 0px;
	padding: 5px;
}
.box-product img{
margin-bottom:10px;
}
.box-product p{
  margin-bottom:-9px;
}
.box-product a{
  text-decoration: none;
}
.box-product span.glyphicon {
	margin-right: 5px;
}
.category
{
margin-top:70px;
}
.producttitle a{
  text-decoration: none;
}
.image:hover{
    box-shadow: 0 0 30px  #742525;

  }
}
/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
#product{
  width:100%;
}

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  #mycarousel .item
  {
    height: 310px;
  }
  #service
  {
    width:100%;
  }
  #servicetext
   {
      text-align:center;
  }
  #product{
    width:100%;
  }
  #slide1
  {
    background:url('../../images/herobanner_small0.jpg') top center no-repeat;
  }
  #slide2
  {
    background:url('../../images/herobanner_small1.jpg') top center no-repeat;
  }
  #slide3
  {
    background:url('../../images/herobanner_small2.jpg') top center no-repeat;
  }
  #slide3
  {
    background:url('../../images/herobanner_small3.jpg') top center no-repeat;
  }
  #slide3
  {
    background:url('../../images/herobanner_small4.jpg') top center no-repeat;
  }
  .carousel-caption{
    padding-bottom:120px;
    color:white;
}
.carousel-caption h4{
  font-size: 22px;
}
}

/* Large desktop */
@media (min-width: 1200px) {
  #mycarousel .item
  {
    height: 500px;
  }
  #slide1
  {
    background:url('../../images/herobanner_large1.jpg') top center no-repeat;
  }
  #slide2
  {
    background:url('../../images/herobanner_large0.jpg') top center no-repeat;
  }
  #slide3
  {
    background:url('../../images/herobanner_large2.jpg') top center no-repeat;
  }
  #slide4
  {
    background:url('../../images/herobanner_large3.jpg') top center no-repeat;
  }
  #slide5
  {
    background:url('../../images/herobanner_large4.jpg') top center no-repeat;
  }
  .carousel-caption{
    padding-bottom:200px;
    color:white;

}
